*.suo
*.sdf
*.opensdf
*.ipdb
*.iobj
*.ilk
*.exp
*.pdb
*.a.recipe
*.DS_Store
*.uplugin-fullsource-mode
CMakeLists.txt
force-lib-build.txt
.hg/**
.hgignore
/Binaries/Win32/**
/Binaries/Mac/**
/Binaries/IOS/**
/Binaries/TVOS/**
/Binaries/Android/**
/Binaries/Win64/**
!/Binaries/Win64/SkookumScript*.dll
!/Binaries/Win64/AgogCore*.dll
/Intermediate/**
/Agog/**
/Scripts/Engine-Generated/**
/SkookumIDE/Skookum-user.ini
/SkookumIDE/*.version
/SkookumIDE/*.exe
!/SkookumIDE/SkookumIDE.exe
/Source/AgogCore/*2013*.*
/Source/AgogCore/*2015*.*
/Source/AgogCore/Lib/**/*.dll
/Source/AgogCore/Lib/**/*Win32*.lib
/Source/AgogCore/Lib/**/VS2013/*
/Source/SkookumScript/*2013*.*
/Source/SkookumScript/*2015*.*
/Source/SkookumScript/Lib/**/*.dll
/Source/SkookumScript/Lib/**/*Win32*.lib
/Source/SkookumScript/Lib/**/VS2013/*
/Source/SkookumScript/Private/**
/Source/SkookumLibs*.*
/Source/AgogIO**
/Source/SkookumIDE**
/SkookumIDE/Source/**
/SkookumIDE/*-Dev.*
/SkookumIDE/*-Coder.*
/SkookumIDE/*32.*
/SkookumIDE/Scripts/workspace?.sk
