*/Binaries/**
*/Intermediate/**
*.suo
*.sdf
*.opensdf
*.ipdb
*.iobj
CMakeLists.txt
.hg/**
.hgignore
/Runtime/Scripts/Engine-Generated/**
/Runtime/*.bat
/Runtime/*.sh
/Runtime/*.py
/Runtime/*.proj
/Runtime/SkookumIDE/Skookum-user.ini
/Runtime/SkookumIDE/*.version
/Runtime/SkookumIDE/*.exe

/Runtime/*2013*.*
/Runtime/*2015*.*
/Runtime/Source/AgogCore/*2013*.user
/Runtime/Source/AgogCore/*2015*.user
/Runtime/Source/AgogCore/Lib/**
/Runtime/Source/SkookumScript/*2013*.*
/Runtime/Source/SkookumScript/*2015*.*
/Runtime/Source/SkookumScript/Lib/**
/Runtime/Source/SkookumScript/Private/**
/Runtime/Source/SkookumLibs*.*
/Runtime/SkookumIDE/Source/**
/Runtime/SkookumIDE/*-Dev.*
/Runtime/SkookumIDE/*-Coder.*
/Runtime/SkookumIDE/*32.*
/Runtime/SkookumIDE/Scripts/workspace?.sk
