*.suo
*.sdf
*.opensdf
*.ipdb
*.iobj
*.ilk
*.exp
*.pdb
*.a.recipe
*.DS_Store
CMakeLists.txt
force-lib-build.txt
.hg/**
.hgignore
/Binaries/Win32/**
/Binaries/Mac/**
/Binaries/IOS/**
/Binaries/TVOS/**
/Binaries/Android/**
/Binaries/Win64/**
!/Binaries/Win64/SkookumScript*.dll
/Intermediate/**
/Agog/**
/Scripts/Engine-Generated/**
/SkookumIDE/Skookum-user.ini
/SkookumIDE/*.version
/SkookumIDE/*.exe
!/SkookumIDE/SkookumIDE.exe
/Source/AgogCore/*2013*.user
/Source/AgogCore/*2015*.user
/Source/AgogCore/*_DLL*
/Source/AgogCore/Lib/**
/Source/SkookumScript/*2013*.*
/Source/SkookumScript/*2015*.*
/Source/SkookumScript/Lib/**/*.dll
/Source/SkookumScript/Private/**
/Source/SkookumLibs*.*
/Source/AgogIO**
/Source/SkookumIDE**
/SkookumIDE/Source/**
/SkookumIDE/*-Dev.*
/SkookumIDE/*-Coder.*
/SkookumIDE/*32.*
/SkookumIDE/Scripts/workspace?.sk
